:root {
  --colorA: #2f184b;
  --colorB: #532b88;
  --colorC: #9b72cf;
  --colorD: #c8b1e4;
  --colorE: #f4effa;
  --colorF: #c2e7da;
  --colorG: #67AAF9;
  --corners: 0.3rem;
}

.corners {
  border-radius: var(--corners);
}

.colorF {
  color: var(--colorF);
}

html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

button:focus {
  outline: 0;
}

.heading {
  color: var(--colorC);
  font-size: 2.5em;
  margin: 0;
  /* padding-bottom: 10px;
  border-bottom: 2px solid white; */
}

.row {
  display: flex;
  flex-direction: row;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

.guessy-background {
  background-color: var(--colorA);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* PlayGame */
.play-game {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: scroll;
}

.play-header {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  align-items: center;
}

.header-title {
  align-items: center;
  margin-right: 2%;
  grid-column-start: 1;
  grid-column-end: 3;
  /* grid-row-start: 1;
  grid-row-end: 3; */
}

.header-buttons {
  justify-items: end;
  margin-right: 2%;
}

.header-roomKey {
  color: var(--colorD);
  font-size: 1.2em;
  border: solid 2px var(--colorC);
  border-radius: var(--corners);
  height: fit-content;
  padding: 0.5%;
}

.gameBoard {
  text-align: center;
  background-color: var(--colorB);
  width: 1300px;
  min-height: 33em;
  max-height: 33 em;
  display: flex;
  flex-flow: row;
  /* font-size: calc(10px + 2vmin); */
  overflow-x: none;
  overflow-y: scroll;
  gap: 10px 20px;
  padding: 1%;
  border-radius: var(--corners);
  border: solid 2px var(--colorD);
  margin: auto;
}

.boardColumn {
  display: flex;
  flex-flow: column wrap;
  column-gap: 10px !important;
  justify-content: space-around;
}

/* Stub */

.stub {
  background-color: var(--colorD);
  border-radius: var(--corners);
  background-color: var(--colorE);
  width: 200px;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.stub-image {
  border-radius: var(--corners);
  margin: 1%;
  /* position: absolute; */
  max-width: 98%;
}

.stub-image.back {
  padding: 15%;
}

.stub > .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
  padding-bottom: 50%;
  padding-top: 50%;
}

.ff-canvas {
  border-radius: var(--corners);
  padding: 1%;
  max-height: 100%;
  max-width: 98%;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  z-index: 99;
  height: fit-content;
  width: 98%;
  background-color: var(--colorA);
  opacity: 0.8;
  border-bottom-left-radius: var(--corners);
  border-bottom-right-radius: var(--corners);
  margin: 1%;
}

.overlay-item {
  z-index: 99;
  opacity: 1;
  margin-top: 2%;
  margin-bottom: 2%;
}

.overlay-icon {
  color: var(--colorE) !important;
}

.player-card {
  background-color: var(--colorG);
}

/* Logo */
.guessy-logo-spin {
  height: 40vmin;
  pointer-events: none;
  border-radius: var(--corners);
}

.small-logo {
  margin: 10px;
  height: 5vh;
}

.small-logo img {
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .guessy-logo-spin {
    animation: guessy-logo-spin infinite 20s linear;
  }
}

@keyframes guessy-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
