:root {
  --colorA: #2f184b;
  --colorB: #532b88;
  --colorC: #9b72cf;
  --colorD: #c8b1e4;
  --colorE: #f4effa;
  --colorF: #C2E7DA;
  --corners: .28571429rem;
}

.colorF {
  color: var(--colorF)
}

html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

button:focus {
  outline: 0;
}

.roomKey {
  color: var(--colorD);
  font-size: 1.5em;
  border: solid 2px var(--colorC);
  border-radius: var(--corners);
  height: fit-content;
  padding: 1%;
}

.heading {
  color: var(--colorC);
  font-size: 2.5em;
  /* padding-bottom: 10px;
  border-bottom: 2px solid white; */
}

.row {
  display: flex;
  flex-direction: row;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

.guessy-background {
  background-color: var(--colorA);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* PlayGame */
.play-game {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: scroll;
}

.play-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
  /* border-bottom: 2px solid var(--colorA); */
  /* background-color: #191c21; */
}

.header-buttons {
  align-items: center;
  margin-right: 2%;
}

.gameBoard {
  text-align: center;
  background-color: var(--colorB);
  width: 100vw;
  max-height: 200vh;
  display: flex;
  flex-flow: column wrap;
  font-size: calc(10px + 2vmin);
  overflow-x: none;
  overflow-y: scroll;
  gap: 10px 20px; /* row-gap column gap */
  padding: 2%;
  border-radius: var(--corners);
  border: solid 2px var(--colorD);
  margin: 2%;
}

/* Stub */
.stub-image{
  border-radius: var(--corners);
  padding: 1%;
}

.ff-canvas {
  border-radius: var(--corners);
  padding: 1%;
}

.stub {
  background-color: var(--colorE);
}

.stub-origin{
  position: absolute;
  z-index: 99;
  margin-top: 3%;
  margin-left: 2%;
  opacity: 0.6;
}

.stub-origin a{
  color: var(--colorB);
}

.stub-origin:hover .tooltip {
  visibility: visible;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: var(--colorA);
  color: var(--colorD);
  text-align: center;
  border-radius: var(--corners);
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.static {
  position:absolute;
}

.static:hover {
  opacity:0;
}
/* Logo */
.guessy-logo-spin {
  height: 40vmin;
  pointer-events: none;
}

.header-logo{
  margin: 10px;
  height: 10vh;
}

.header-logo img {
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .guessy-logo-spin {
    animation: guessy-logo-spin infinite linear;
  }
}

@keyframes guessy-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
